<style type="text/css">
 .nowrap {  white-space: nowrap; }

 .hidden-column {
     display: none;
 }
</style>
<div class='row'>
  <div class='col-xs-10 col-xs-offset-1'>
    <div id='date-slider'></div>
  </div>
  <button type='button' id='slider-go-button'
          class='btn btn-primary btn-xs'
          style='margin-left: 20px; margin-top: 40px;'>Go</button>
</div>
<br>
<div class='row'>
  <div class='col-lg-12 col-lg-offset-0
              col-md-12 col-md-offset-0
              col-sm-12 col-sm-offset-0
              col-xs-12 col-xs-offset-0'>
    <div class="form-group row">
      <div class="col-xs-6">
	<input class='form-control search' type='search' data-column='all'
               id='activity_table_search' placeholder='Search'>
      </div>
      <% if (window.ISADMIN) { %>
	<div class="col-xs-6">
	  <div class="input-group" id="search-ip">
	    <input class='form-control col-xs-6'
		   type='search'
		   placeholder='IP address or physical node ID'>
	    <span class="input-group-btn">
              <button class="btn btn-default"
		      type="button">Search</button>
	    </span>
	  </div>
	</div>
      <% } %>
    </div>
    <center id="waiting">
      <h5>Patience please, this will take a few moments</h5>
      <br>
      <img src='images/spinner.gif' />
    </center>
    <div id="table-div"></div>
  </div>
</div>


