<div class='row'>
  <div class='col-lg-12 col-lg-offset-0
              col-md-12 col-md-offset-0
              col-sm-12 col-sm-offset-0
              col-xs-12 col-xs-offset-0'>
    <div id="experiments_loading">
      <br>
      <br>
      <center>Loading
	<div>
	  <img src='images/spinner.gif' />
	</div>
      </center>
    </div>
    <div id="experiments_loaded" class="hidden">
      <center>
	<div class="form-group" id="radio-buttons">
	  <label class="radio-inline">
	    <input type="radio" data-id="#all" name="radio"
		   value="option1" checked> All
	  </label>
	  <label class="radio-inline">
	    <input type="radio" data-id="#extending" name="radio"
		   value="option2"> Pending Extensions
	  </label>
	  <label class="radio-inline">
	    <input type="radio" data-id="#locked" name="radio"
		   value="option3"> Locked Down
	  </label>
	  <label class="radio-inline">
	    <input type="radio" data-id="#expired" name="radio"
		   value="option4"> Expired
	  </label>
	  <label class="radio-inline">
	    <input type="radio" data-id="#old" name="radio"
		   value="option5"> Older then 45 days
	  </label>
	  <label class="radio-inline">
	    <input type="radio" data-id="#portal" name="radio"
		   value="option6"> Portal
	  </label>
	  <label class="radio-inline hidden" id="classic_radio_button">
	    <input type="radio" data-id="#classic" name="radio"
		   value="option7"> Classic
	  </label>
	</div>
      </center>
      <div id="experiments_div">
	<center>
	  <span id="experiments_count"></span> matching experiments
	  <span class='glyphicon glyphicon-question-sign'
		style='margin-bottom: 4px;'
		data-toggle='tooltip'
		data-container="body"
		data-trigger="hover"
		title='Expiration dates in blue mean the experiment has a
		       user lockdown, dates in red are an admin lockdown'>
	  </span>
	</center>
	<div class="form-group row">
	  <div class="col-xs-6">
	    <input class='form-control search'
		   type='search' data-column='all'
		   id='experiments_search' placeholder='Search'>
	  </div>
	  <div class="col-xs-6">
	    <div class="input-group" id="experiment-search-ip">
	      <input class='form-control col-xs-6'
		     type='search'
		     placeholder='IP address or physical node ID'>
	      <span class="input-group-btn">
		<button class="btn btn-default"
			type="button">Search</button>
	      </span>
	    </div>
	  </div>
	</div>
	<div id="experiments_content"></div>
      </div>
    </div>
  </div>
  <div id='waitwait_div'></div>
  <div id='oops_div'></div>
</div>
<div class='row hidden' id="classic_experiments_div">
  <div class='col-lg-12 col-lg-offset-0
              col-md-12 col-md-offset-0
              col-sm-12 col-sm-offset-0
              col-xs-12 col-xs-offset-0'>
    <div id="classic_experiments_content"></div>
  </div>
</div>
