<style>
 .pull-right>.multilevel-menu {
     right: 0;
 }
 .multilevel-menu {
     position: absolute;
 }
 .multilevel-menu .multilevel-menu-wrapper {
     position: relative;
     bottom: auto !important;
 }

 .multilevel-menu ul {
     position: static;
     width: auto;
     max-height: 400px;
     overflow-x: hidden;
     overflow-y: auto;
 }

 .multilevel-menu li {
     position: static;
 }
 .multilevel-menu li .multilevel-menu-wrapper {
     position: absolute;
     z-index: 10;
     display: none;
 }
 .multilevel-menu li.multilevel-menu-parent .dropdown-menu {
     display: block;
 }
 .multilevel-menu li:hover > .multilevel-menu-wrapper {
     display: block;
 }

 .multilevel-menu .multilevel-menu-parent>a:after {
     display: block;
     content: " ";
     float: right;
     width: 0;
     height: 0;
     border-bottom: 4px solid transparent;
     border-top: 4px solid transparent;
     border-left: 4px solid;
     margin-top: 5px;
     margin-right: -10px;
 }

 svg {
     display: block;
 }
</style>
<div class="frequency-graph-div col-sm-12">
  <div class="input-group input-group-sm col-sm-2 pull-left frequency-search">
    <input type="text" class="form-control min-freq-input"
	   style="width: 50%;" placeholder="Min MHz">
    <input type="text" class="form-control max-freq-input"
	   style="width: 50%;" placeholder="Max MHz">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">Find!</button>
    </span>
  </div>
  <div class='pull-right moregraphs-dropdown'>
    <button id='action-menu-button' type='button'
	    class='btn btn-default btn-xs dropdown-toggle'
	    data-toggle='dropdown' data-target=".multilevel-menu">
      More/Older Graphs <span class="caret"></span>
    </button>
    <div class="multilevel-menu"></div>
  </div>
  <a type='button' disabled
	  style="margin-right: 10px"
	  class='btn btn-default btn-xs download-button pull-right'>
    Download</a>
  <a type='button' disabled
     style="margin-right: 10px"
     class='btn btn-default btn-xs share-button pull-right'>
    Share</a>
  <% if (window.WHICH === "rfmonitor-mobile") { %>
    <a type='button' disabled target="_blank"
       style="margin-right: 10px"
       class='btn btn-default btn-xs gps-button pull-right'>
      GPS Map</a>
  <% } %>
  <center>
    <h4>
      <% if (window.WHICH === "rfbaseline") { %>
	Spectrum Monitoring Graph for
      <% } else { %>
	Radio Monitoring Graph for
      <% } %>
      <span class="frequency-graph-cluster"></span>
      <span class="frequency-graph-nodeid">
	<%- node_id %></span>:<span class="frequency-graph-iface"><%- iface %>
	</span>
	<% if (logid) { %>
	  <span class="frequency-graph-date" style="margin-left: 15px;">
	    <%- moment(logid, "X").format("L LT") %></span>
	<% } else { %>
	  <span class="frequency-graph-date hidden"
		style="margin-left: 15px;"></span>
	<% } %>
    </h4>
  </center>
  <div class="panel panel-default" style="margin-bottom: 0px;">
    <div class="panel-body" style="padding: 0px;">
      <div class="frequency-graph frequency-graph-maingraph"
	   style="height: 600px;">
	<div class='spinner'>
	  <center>
	    <img src='images/spinner.gif' /></center>
	</div>
      </div>
    </div>
  </div>
  <div class="panel panel-default" style="margin-bottom: 0px;">
    <div class="panel-body" style="padding: 0px;">
      <div class="frequency-graph frequency-graph-subgraph"
	   style="height: 600px;"></div>
      <div id="tooltip-popover"></div>
    </div>
  </div>
  <div class='spinner hidden'>
    <center>
      <img src='images/spinner.gif' /></center>
  </div>
</div>
