<div id="inuse-ranges"
     class='row hidden col-sm-8 col-sm-offset-2'>
  <center>
    <h4 class="text-center">
      Frequency Ranges Currently In Use</h4>
    <table class='tablesorter'>
      <thead>
	<tr>
	  <th>Experiment</th>
	  <th>Project</th>
	  <th>Lower (MHz)</th>
	  <th>Upper (MHz)</th>
	  <th>Type</th>
	  <th>Target</th>
	  <th>Expires</th>
	</tr>
      </thead>
      <tbody>
	<% _.each(inuse_ranges, function(range) { %>
	  <tr>
	    <td><a href="status.php?uuid=<%- range.uuid %>">
	      <%- range.name %></a></td>
	    <td><a href="show-project.php?project=<%- range.pid %>">
	      <%- range.pid %></a></td>
	    <td><%- range.freq_low %></td>
	    <td><%- range.freq_high %></td>
	    <td><%- range.type %></td>
	    <td><%- range.target %></td>
	    <td><%- moment(range.end).format("MMM Do, h:m A") %></td>
	  </tr>
	<% }); %>
      </tbody>
    </table>
  </center>
</div>
<div id="global-ranges"
     class='row hidden col-sm-8 col-sm-offset-2'>
  <center>
    <h4 class="text-center">
      Global Frequency Ranges</h4>
    <table class='tablesorter'>
      <thead>
	<tr>
	  <th>ID</th>
	  <th>Lower (MHz)</th>
	  <th>Upper (MHz)</th>
	</tr>
      </thead>
      <tbody>
	<% _.each(global_ranges, function(range, index) { %>
	  <tr>
	    <td><%- range.range_id ? range.range_id : range.idx %></td>
	    <td><%- range.freq_low %></td>
	    <td><%- range.freq_high %></td>
	  </tr>
	<% }); %>
      </tbody>
    </table>
  </center>
</div>
<div id="project-ranges"
     class='row hidden col-sm-8 col-sm-offset-2'>
  <center>
    <h4 class="text-center">
      Project Frequency Ranges</h4>
    <table class='tablesorter'>
      <thead>
	<tr>
	  <th>Project</th>
	  <th>ID</th>
	  <th>Lower (MHz)</th>
	  <th>Upper (MHz)</th>
	</tr>
      </thead>
      <tbody>
	<% _.each(project_ranges, function(list, pid) { %>
	  <% _.each(list, function(range) { %>
	    <tr>
	      <td><a href="show-project.php?project=<%- pid %>">
		<%- pid %></a></td>
	      <td><%- range.range_id ? range.range_id : range.idx %></td>
	      <td><%- range.freq_low %></td>
	      <td><%- range.freq_high %></td>
	    </tr>
	  <% }); %>
	<% }); %>
      </tbody>
    </table>
  </center>
</div>
<div id="history-ranges"
     class='row col-sm-10 col-sm-offset-1'>
  <center>
    <h4 class="text-center">
      Recent History</h4>
    <div class="waiting">
      <img src='images/spinner.gif' />
    </div>
  </center>
</div>
