<style type="text/css">
 .nowrap {  white-space: nowrap; }
</style>
<div class='col-xs-12 col-sm-12 col-md-12'>
  Looking for <a href="#" id="mobile-endpoints">route info?</a>
  <table id='radioinfo-table' "class='tablesorter'>
    <thead>
      <tr>
	<th>Location</th>
	<th>Node</th>
	<th class="nowrap">Site Type</th>
	<th>Radio Type 
	  <span class="glyphicon glyphicon-edit"
		style="margin-left: 5px;"></span></th>
	<th>Frontend (iface)</th>
	<th class="sorter-false">TX Ranges
	  <span class="glyphicon glyphicon-edit"
		style="margin-left: 5px;"></span></th>	  
	<th class="sorter-false">RX Ranges
	  <span class="glyphicon glyphicon-edit"
		style="margin-left: 5px;"></span></th>	  
	<th class="sorter-false">Monitor</th>
	<th class="sorter-false">RF Scans</th>
	<th class="sorter-false">Free?</th>
	<th class="sorter-false">Notes
	  <span class="glyphicon glyphicon-edit"
		style="margin-left: 5px;"></span></th>	  
      </tr>
    </thead>
    <tbody>
      <% _.each(radioinfo, function(aggregate, urn) { %>
	<% _.each(aggregate, function(node, node_id) { %>
	  <% var url = amlist[urn].weburl +
  	  "/portal/show-node.php?node_id=" + node_id; %>
	  <% _.each(node.frontends, function(frontend, iface) { %>
	    <tr data-urn="<%- urn %>"
		data-node_id="<%- node_id %>"
		data-iface="<%- iface %>">
	    <td><a href="powder-map.php?location=<%- node.location %>"
		   class="location"
		   data-urn="<%- urn %>"
		   data-location="<%- node.location %>"
		   data-type="<%- node.itype %>">
	      <%- node.location %></a>
	    </td>
	    <td><a href="<%- url %>" target="_blank">
	      <%- node_id %></a>
	    </td>
	    <td class="nowrap"><%- siteTypes[node.itype] %></td>
	    <td data-field="radio_type"><%- node.radio_type %></td>
	    <td><%- frontend.frontend %> (<%- iface %>)</td>
	    <td data-field="tx_freq"><%- frontend.transmit_frequencies %></td>
	    <td data-field="rx_freq"><%- frontend.receive_frequencies %></td>
	    <td class="text-center">
	      <% if (frontend.monitored) { %>
		<% var url = "frequency-graph.php?cluster=" +
		amlist[urn].nickname + "&node_id=" +
		node_id + "&iface=" + iface;
		%>
		<a href='<%- url %>' target="_blank">
		  <span class="glyphicon glyphicon-stats"
			style="margin-right: 5px;"></span></a>
	      <% } else { %>
		  n/a
	      <% } %>
	    </td>
	    <td class="text-center">
	      <% if (node_id.startsWith("nuc") || node_id.startsWith("cell")) { %>
		<% var url = "frequency-graph.php?baseline=1&cluster=" +
		amlist[urn].nickname + "&node_id=" +
		node_id + "&iface=" + iface;
		%>
		<a href='<%- url %>' target="_blank">
		  <span class="glyphicon glyphicon-stats"
			style="margin-right: 5px;"></span></a>
	      <% } else { %>
		  n/a
	      <% } %>
	    </td>
	    <td><%- node.available ? "Yes" : "No" %></td>
	    <td data-field="notes"><%- frontend.notes %></td>
	  </tr>
	<% }); %>
	<% }); %>
      <% }); %>
    </tbody>
  </table>
</div>
