<style>
.popover {
    max-width: none;
}
</style>
<div class='row'>
  <div class='col-lg-3
              col-md-3
              col-sm-3'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h4 class='panel-title text-center'>Show Profile</h4>
      </div>
      <div class='panel-body'
	   style='overflow: hidden; padding-left: 5px; padding-right: 5px'>
	<table class='table-condensed nospaceafter'
	       style='font-size:12px;'>
	  <tr>
	    <td>Name:</td>
	    <td><%- fields.profile_name %></td>
	  </tr>
	  <% if (!fromrepo) { %>
	    <tr>
	      <td>Version:</td><td>
		<% if (history) { %>
		  <a href='profile-history.php?uuid=<%= profile_uuid %>'>
	  	    <%- fields.profile_version %></a>
		<% } else { %>
		  <%- fields.profile_version %>
		<% } %>
		<% if (version_uuid != fields.latest_uuid) { %>
		  (Latest:
		  <a href='show-profile.php?uuid=<%= fields.latest_uuid %>'>
		    <%- fields.latest_version %></a>)
		<% } %>
		
	      </td>
	    </tr>
	  <% } %>
	  <% if (!isguest) { %>
	    <tr>
	      <td>Project:</td>
	      <td><%- fields.profile_pid %></td>
	    </tr>
	  <% } %>
	  <tr>
	    <td>Creator:</td>
	    <td><%- fields.profile_creator %></td>
	  </tr>
	  <% if (!isguest) { %>
	    <% if (fields.profile_version != 0) { %>
	      <tr>
		<td>Updated by:</td>
		<td><%- fields.profile_updater %></td>
	      </tr>
	    <% } %>
	  <% } %>
	  <tr>
	    <% if (fields.profile_version == 0) { %>
	      <td>Created:</td>
	    <% } else { %>
	      <td>Updated:</td>
	    <% } %>
	    <td class='format-date' style='word-wrap:break-word;'>
	      <%- fields.profile_created %></td>
	  </tr>
	  <tr>
	    <td>Public?:</td>
	    <td><% if (fields.profile_public) { %>Yes<% } else { %>No<% } %></td>
	  </tr>
	  <% if (withpublishing) { %>
	  <tr>
	    <td>Published:</td>
	    <td id='profile_published' class='format-date'>
	      <%- fields.profile_published %></td>
	  </tr>
	  <% } %>
	  <% if (disabled) { %>
	    <tr>
	      <td>Disabled:</td><td><span class="text-danger">Yes</span>
		<a href='#' class='btn btn-xs'
		   data-toggle='popover'
		   data-html='true'
		   data-delay='{"hide":500}'
		   data-content="This profile has been disabled by an
				 administrator. You may be able to instantiate
				 another version of this profile, see the
				 version info above.">
		  <span class='glyphicon glyphicon-question-sign'
			style='margin-bottom: 4px;'></span>
		</a>
	      </td>
	    </tr>
	  <% } %>
	</table>
	<div>
	  <% if (history) { %>
	    <a class='btn btn-info btn-xs'
               id='profile_history_button'
               style='margin-right: 5px; font-size-foo: 12px'
               href='profile-history.php?uuid=<%= profile_uuid %>'
               type='button'>Version History
	    </a>
	  <% } %>
	  <% if (activity) { %>
	    <a class='btn btn-info btn-xs '
               id='profile_history_button'
               style='margin-right: 5px; font-size-foo: 12px'
               href='profile-activity.php?uuid=<%= profile_uuid %>'
               type='button'>Activity
	    </a>
	  <% } %>
	  <% if (paramsets) { %>
	    <a class='btn btn-info btn-xs '
               id='profile_history_button'
               style='margin-right: 5px; font-size-foo: 12px'
               href='profile-paramsets.php?uuid=<%= profile_uuid %>'
               type='button'>Paramsets
	    </a>
	  <% } %>
	</div>
      </div>
    </div>
    <% if (fromrepo) { %>
      <div class='panel panel-default hidden' id="repoinfo-panel">
	<div class='panel-heading'>
          <h4 class='panel-title text-center'>Repository Info</h4>
	</div>
	<div class='panel-body'
	     style='overflow: hidden; padding-left: 5px; padding-right: 5px'>
	  <table class='table-condensed nospaceafter'
		 style='font-size:12px;'>
	    <tr>
	      <td>Refspec:</td>
	      <td class="commit-refspec"></td>
	    </tr>
	    <tr>
	      <td>Commit:</td>
	      <td class="commit-hash"></td>
	    </tr>
	    <tr>
	      <td>Date:</td>
	      <td class="commit-date"></td>
	    </tr>
	    <tr>
	      <td>Author:</td>
	      <td class="commit-author"></td>
	    </tr>
	    <tr>
	      <td>Est. Size:</td>
	      <td class="commit-size"></td>
	    </tr>
	    <% if (isadmin) { %>
	      <tr>
		<td>RepoName:</td>
		<td class="commit-reponame" style="font-size: 60%;"></td>
	      </tr>
	    <% } %>
	    <tr>
	      <td>Log:</td>
	      <td class="commit-log">
		<span class="commit-log-start"></span>
		<button type="button" class="hidden log btn btn-xs"
			data-toggle='popover'
			data-html="true"
			data-delay='{"hide":1000, "show":250}'>...</button>
	      </td>
	    </tr>
	  </table>
	</div>
      </div>
    <% } %>
    <% if (! isguest) { %>
      <div style="margin-top-foo: 10px;" class="text-center">
	<% if (!disabled && (canedit || fields.profile_public != 0)) { %>
	  <span data-toggle='popover'
		data-delay='{"show":250}'
		data-html='true'
		data-content="Share this profile with other users by
			      sending them a link to instantiate it.
			      Click for more info.">
	    <button class='btn btn-primary btn-xs'
		    id='profile_share_button'
     		    data-toggle='modal' data-target='#share_profile_modal'
		    style='margin-right: 5px;'
		    type='button'>
	      Share
	    </button>
	  </span>
	<% } %>
	<% if (canedit) { %>
	  <a class='btn btn-primary btn-xs'
             style='margin-right: 5px;'
             type='button'
	     href='manage_profile.php?action=edit&uuid=<%= version_uuid %>'>
            Edit
	  </a>
	<% } %>
	<% if (! disabled) { %>
	  <% if (window.CANCOPY) { %>
	    <button id="copy-profile-button"
		    class='btn btn-primary btn-xs'
		    style='margin-right: 5px;'
		    <% if (fromrepo) { %>
     		    data-toggle='modal'
		    data-target='#copy-repobased-profile-modal'
		    <% } %>
		    type='button'>Copy</button>
	  <% } %>
	  <% if (gotrspec) { %>
	    <% 	var url = "instantiate.php?profile=" + window.PROFILE +
	    "&from=manage-profile"; %>
	    <a class='btn btn-primary btn-xs'
	       href="<%- url %>"
	       id='profile_instantiate_button'
	       style='margin-right: 5"px;'
	       name='create'>Instantiate
	    </a>
	  <% } %>
	<% } %>
      </div>
    <% } %>
  </div>
  <div class='col-lg-9
              col-md-9
              col-sm-9
              col-xs-12'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h4 class='panel-title text-center'>
	  Profile <%- fields.profile_pid %>/<%- fields.profile_name %></h4>
      </div>
      <div class='panel-body'>
	<form id="profile-form" class='form-horizontal' role='form'
	      data-format="wide">
	  <fieldset>
	    <div class="form-group">
	      <div class='format-me'
		   data-key='profile_rspec' data-label='Topology'>
		<div class='row'>
                  <div class='col-xs-12'>
		    <button class='btn btn-primary btn-xs'
			    type='button'
			    style='margin-right: 10px;'
			    id='edit_topo_modal_button'>
                      Visualize</button>
		    <button class='btn btn-primary btn-xs'
			    type='button'
			    style='margin-right: 10px;'
			    id='show_source_modal_button'>
                      View Source</button>
		    <button class='btn btn-primary btn-xs hidden'
			    type='button'
			    style='margin-right: 10px;'
			    id='show_xml_modal_button'>
                      View XML</button>
		  </div>
		</div>
	      </div>
	    </div>
	    <% if (fromrepo) { %>
	      <div class="form-group">
		<div class='form-control format-me'
		     style="height: auto;"
		     id="profile_repourl"
		     data-key='profile_repourl' data-label='Repository'>
		  <%- fields.profile_repourl %>
		</div>
	      </div>
	    <% } %>
	    <div class="form-group">
	      <div class='form-control format-me'
		   style="height: auto;"
		   id="profile_description"
		   data-key='profile_description' data-label='Description'>
	      </div>
	    </div>
	    <div class="form-group">
	      <div class='form-control format-me'
		   style="height: auto;"
		   id="profile_instructions"
		   data-key='profile_instructions' data-label='Instructions'>
	      </div>
	    </div>
	    <div class="form-group hidden">
	      <div class='form-control format-me'
		   style="height: auto;"
		   id="profile_parameters"
		   data-key='profile_parameters' data-label='Parameters'>
	      </div>
	    </div>
	  </fieldset>
	</form>
      </div>
    </div>
  </div>
  <!-- place to hang the modals  -->
  <div id='showtopomodal_div'></div>
  <div id='editmodal_div'></div>
  <div id='imaging_div'></div>
  <div id='renderer_div'></div>
  <div id='guest_div'></div>
  <div id='publish_div'></div>
  <div id='rspectext_div'></div>
  <div id='share_div'></div>
  <div id='copy_repobased_profile_div'></div>
  <div id='copy-profile-modal-div'></div>
</div>
<div class='row hidden' id="gitpicker-div">
  <div class='col-sm-9 col-sm-offset-3 col-xs-12'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h4 class='panel-title text-center'>Repository Branches and Tags</h4>
      </div>
      <div id="gitrepo-picker" class='panel-body'>
      </div>
    </div>
  </div>
</div>
<textarea name="formfields[profile_rspec]"
	  id='profile_rspec_textarea'
          class='form-control hidden'
          type='textarea'
	  data-key='profile_rspec'
	  rows=5><%- fields.profile_rspec %></textarea>
<textarea name="formfields[profile_script]"
	  id='profile_script_textarea'
          class='form-control hidden'
          type='textarea'
	  data-key='profile_script'
	  rows=5><%- fields.profile_script %></textarea>

  
