<style type="text/css">
/* make sidebar nav vertical */ 
@media (min-width: 768px) {
	.sidebar-nav .navbar .navbar-collapse {
		padding: 0;
		max-height: none;
	}
	.sidebar-nav .navbar ul {
		float: none;
	}
	.sidebar-nav .navbar ul:not {
		display: block;

	}
	.sidebar-nav .navbar li {
		float: none;
		display: block;
	}
	.sidebar-nav .navbar li a {
		padding-top: 0px;
		padding-bottom: 0px;
		margin-top: 5px;
	}
}
/*
@media (min-width: 992px) {
	.sidebar-nav .navbar {
		width: 212px;
	}
}
@media (min-width: 1200px) {
	.sidebar-nav .navbar {
		width: 262px;
	}
}
*/
.sidebar-nav .navbar-header{ float: none; }
</style>
<div class='row'>
  <div class='col-sm-12'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
	<h4 class="text-center">Project <%- target_project %>
	  <% if (disabled) { %>
	    <center>
	      <small class="text-danger">This project is disabled</small>
	    </center>
	  <% } %>
	</h4>
      </div>
	<div class='panel-body'>
	<div class='row'>
	  <div class='col-sm-12'>
	    <div>
	      <!-- Nav tabs -->
	      <ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
		  <a href="#experiments" role="tab"
		     data-toggle="tab">Experiments</a></li>
		<li role="presentation">
		  <a href="#profiles" role="tab"
		     data-toggle="tab">Profiles</a></li>
		<%  if (disabledset == 0 || (disabledset == 1 && isadmin) ) { %>
		  <li role="presentation">
		    <a href="#datasets" role="tab"
		       data-toggle="tab">Datasets</a></li>
		<% } %>
		<%  if (disabledres == 0 || (disabledres == 1 && isadmin) ) { %>
		<li role="presentation" class="hidden resgroups-hidden">
		  <a href="#resgroups" role="tab"
		     data-toggle="tab">Reservations</a></li>
		<% } %>
		<li role="presentation">
		  <a href="#members" role="tab"
		     data-toggle="tab">Members</a></li>
		<li role="presentation">
		  <a href="#groups" role="tab"
		     data-toggle="tab">Groups</a></li>
		<li role="presentation">
		  <a href="#usage" role="tab"
		     data-toggle="tab">Usage</a></li>
		<% if (window.ISPOWDER) { %>
		  <li role="presentation" class="hidden rfranges-hidden">
		    <a href="#rfranges" role="tab"
		       data-toggle="tab">RF Ranges</a></li>
		<% } %>
		<li role="presentation">
		  <a href="#project" role="tab" data-toggle="tab">
		    Project</a></li>
		<% if (showmore) { %>
		  <li role="presentation"
		      class="dropdown">
		    <a class="dropdown-toggle" data-toggle="dropdown"
		       href="#" role="button">
		      More ...<span class="caret"></span></a>
		    <ul class="dropdown-menu">
		      <li><a href="activity.php?project=<%= target_project %>">
			Experiment History</a></li>
		      <li><a href=
			     "list-images.php?project=<%= target_project %>">
			Project Disk Images</a></li>
		    </ul>
		  </li>
		<% } %>
		<% if (isadmin) { %>
		  <li role="presentation"
		      class="dropdown">
		    <a class="dropdown-toggle" data-toggle="dropdown"
		       href="#" role="button">
		      Admin Menu<span class="caret"></span></a>
		    <ul class="dropdown-menu">
		      <% if (disabledres < 2) { %>
		      <li><a href="resgroup.php?project=<%= target_project %>">
			Create Reservation</a></li>
		      <% } %>
		      <li><a href="activity.php?project=<%= target_project %>">
			Experiment History</a></li>
		      <li><a href="#" data-toggle='modal'
			     data-target='#nsf-funding-modal'>
			Add NSF Award</a></li>
		      <% if (disabledres < 2) { %>
		      <li><a href="reservation-history.php?project=<%= target_project %>">
			Reservation History</a></li>
		      <% } %>
		      <li><a href="#" data-toggle='modal'
			     data-target='#confirm-deleteproject-modal'>
			<span class="text-danger">Delete Project</span></a></li>
		      <li role="presentation">
			<a href='<%- emulablink %>'>
			  Emulab Project Page</a></li>
		    </ul>
		  </li>
		<% } %>
	      </ul>
	      <!-- Tab panes -->
	      <div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="experiments">
		  <div id="experiments_content">
		    <div id="experiments_loading">
		      <br>
		      <br>
		      <center>Loading
			<div>
			  <img src='images/spinner.gif' />
			</div>
		      </center>
		    </div>
		    <div class="hidden" id="experiments_noexperiments">
		      <br>
		      No experiments to show you. 
		    </div>
		  </div>
		  <br>
		  <div id="classic_experiments_content"></div>
		</div>
		<div role="tabpanel" class="tab-pane" id="profiles">
		  <div id="profiles_content">
	      	    <div class="hidden" id="profiles_noprofiles">
		      <br>
		      No profiles to show you.
		    </div>
		  </div>
		  <div id="classic_profiles_content"></div>
		</div>
		<div role="tabpanel" class="tab-pane" id="datasets">
		  <div id="datasets_content">
	      	    <div class="hidden" id="datasets_nodatasets">
		      <br>
		      No datasets to show you.
		    </div>
		  </div>
		  <div id="classic_datasets_content" class="hidden">
		    <center><h4>Classic Datasets</h4></center>
		    <div id="classic_datasets_content_div"></div>
		  </div>
		</div>
		<div role="tabpanel" class="tab-pane hidden resgroups-hidden"
		     id="resgroups">
		  <div id="resgroups_content"></div>
		</div>
		<div role="tabpanel" class="tab-pane" id="members">
		  <div id="members_content"></div>
		</div>
		<div role="tabpanel" class="tab-pane" id="groups">
		  <div id="groups_content"></div>
		</div>
		<div role="tabpanel" class="tab-pane" id="usage">
		  <div id="usage_content">
		    <table class='table table-condensed table-bordered'
			   id='usage_table'>
		      <tbody></tbody>
		    </table>
		  </div>
		</div>
		<% if (window.ISPOWDER) { %>
		  <div role="tabpanel" id="rfranges"
		       class="tab-pane hidden rfranges-hidden">
		    <div id="rfranges_content" style="text-align: center">
		      <span class="allowed-rfranges"
			    style="width: 500px; display: inline-block;">
			<h5 class="text-center">
			  Radio frequency ranges allowed by this project</h5>
			<table class='tablesorter'>
			  <thead>
			    <tr>
			      <% if (isadmin) { %>
				<th>ID</th>
			      <% } %>
			      <th>Lower (MHz)</th>
			      <th>Upper (MHz)</th>
			      <th>Global</th>
			    </tr>
			  </thead>
			  <tbody></tbody>
			</table>
		      </span>
		      <span class="hidden inuse-rfranges"
			    style="width: 700px; display: inline-block;">
			<h5 class="text-center">
			  Radio frequency ranges in use by this project</h5>
			<table class='tablesorter'>
			  <thead>
			    <tr>
			      <th>Name</th>
			      <th>Lower (MHz)</th>
			      <th>Upper (MHz)</th>
			      <th>Type</th>
			      <th>Target</th>
			      <th>Expires</th>
			    </tr>
			  </thead>
			  <tbody></tbody>
			</table>
		      </span>
		      <div class="hidden history-rfranges
				  col-sm-10 col-sm-offset-1">
			<center>
			  <h4 class="text-center">
			    Recent History</h4>
			  <div class="waiting">
			    <img src='images/spinner.gif' />
			  </div>
			</center>
		      </div>
		    </div>
		  </div>
		<% }  %>
		<div role="tabpanel" class="tab-pane" id="project">
		  <div id="project_content"></div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
<!-- This is the topology view modal -->
<div id='quickvm_topomodal' class='modal fade'>
  <div class='modal-dialog' id='showtopo_dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>
          &times;</button>
        <h3>Topology Viewer</h3>
      </div>
      <div class='modal-body'>
        <!-- This topo diagram goes inside this div -->
        <div class='panel panel-default'
             id='showtopo_container'>
          <div class='panel-body'>
            <div id='showtopo_nopicker' class='jacks'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- This is the terminate modal -->
<div id='terminate-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
        <p>Are you sure you want to terminate this experiment? 
          Click on the button below if you are really sure.
	</p>
	<br>
        <button class='btn btn-danger align-center' id='terminate-confirm'
                type='submit' name='terminate'>Terminate</button>
      </div>
    </div>
  </div>
</div>
<!-- Confirm Delete Project -->
<div id='confirm-deleteproject-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <center><h4>Confirm to delete project</h4>
	  <div>
	    <div class="checkbox centered">
	      <label>
		<input type="checkbox"
  		       onchange="$('#confirm-deleteproject').removeAttr('disabled');">
		Check this box too!
	      </label>
	    </div>
	  </div>
	  <div>
            <button class='btn btn-primary btn-sm'
		    data-dismiss='modal'
		    style="margin-right: 10px;">Cancel</button>
            <button class='btn btn-danger btn-sm' disabled
		    id='confirm-deleteproject'>Confirm</button>
	  </div>
	</center>
      </div>
    </div>
  </div>
</div>
<div id='nsf-funding-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <center>
	  <h4>Add NSF award to project <b><%- target_project %></b></h4>
	  <div class="form-group" style="margin-bottom: 5px;">
	    <input class="form-control"
		   name="nsf_award"
		   style="width: 25%; margin-top: 5px;"
		   placeholder="NSF award number"
		   type="text">
	    <label class="control-label hidden"></label>
	  </div>
	  <div style="margin-top: 0px;">
	    <label class="checkbox-inline"
		   style='margin-right: 10px'>
	      <input name="nsf_supplement"
		     type="checkbox">Is this a supplement?</label>
	  </div>
	  <div style="margin-top: 15px;">
            <button class='btn btn-primary btn-sm'
		    data-dismiss='modal'
		    style="margin-right: 10px;">Cancel</button>
            <button class='btn btn-danger
			   btn-sm save-button'>Save</button>
	  </div>
	</center>
      </div>
    </div>
  </div>
</div>
<div id='waitwait_div'></div>
<div id='oops_div'></div>
<div id='conversion_help_div'></div>
<div id='profile-imagelist-modal-div'></div>
<div id='confirm-delete-profile-div'></div>
