<div class='row'>
  <div class='col-sm-12'>
    <div class='panel panel-default' id='history-panel'>
      <div class="panel-heading">
	<h5><center>Vlan History</center></h5>
      </div>
      <div class='panel-body panel-body-dashboard'>
	<div class="form-group row">
	<div class="col-xs-4">
	  <div class="input-group">
	    <input class='form-control col-xs-4' type='search'
		   id='lanid-search-box' placeholder='Search Lan ID'>
	    <span class="input-group-btn">
	      <button class="btn btn-default"
		      id="lanid-search-button"
		      type="button">Go</button></span>
	  </div>
	</div>
	<div class="col-xs-4">
	  <div class="input-group">
	    <input class='form-control col-xs-4' type='search'
		   id="tag-search-box" placeholder='Search Tag'>
	    <span class="input-group-btn">
	      <button class="btn btn-default"
		      id="tag-search-button"
		      type="button">Go</button>
	    </span>
	  </div>
	</div>
	<div class="col-xs-4">
	  <div class="input-group">
	    <input class='form-control col-xs-4' type='search'
		   id="date-search-box" placeholder='Search Date'>
	    <span class="input-group-btn">
	      <button class="btn btn-default"
		      id="date-search-button"
		      type="button">Go</button>
	    </span>
	  </div>
	</div>
      </div>
      <table class="tablesorter">
	  <thead>
	    <tr>
	      <th>Lan ID</th>
	      <th>Index</th>
	      <th>PID</th>
	      <th>EID</th>
	      <th>Link Name</th>
	      <th>Tag</th>
	      <th>Allocated</th>
	      <th>Released</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% _.each(records, function(record, idx) { %>
	      <tr>
		<td><%- record.lanid %></td>
		<td><%- record.history_id %></td>
		<td><a href='show-project.php?project=<%- record.pid_idx %>'
		       target="_blank"><%- record.pid %></a></td>
		<td>
		  <% if (record.instance_uuid) { %>
		    <a href="status.php?uuid=<%- record.instance_uuid %>"
		       target="_blank"><%- record.eid %></a>
		  <% } else if (record.history_uuid) { %>
		    <a href="memlane.php?uuid=<%- record.history_uuid %>"
		       target="_blank"><%- record.eid %></a>
		  <% } else if (record.experiment) { %>
		    <a href="../showexp.php3?experiment=<%- record.exptidx %>"
		       target="_blank"><%- record.eid %></a>
		  <% } else if (record.slice_uuid) { %>
		    <a href="../showslicelogs.php?slice_uuid=<%- record.slice_uuid %>"
		       target="_blank"><%- record.eid %></a>
		  <% } else { %>
		    <%- record.eid %>
		  <% } %>
		</td>
		<td><%- record.lanname %></td>
		<td><%- record.tag %></td>
		<td class="format-date"><%- record.allocated %></td>
		<td class="format-date"><%- record.released %></td>
	      </tr>
	    <% }); %>
	  </tbody>
	</table>
	<center id="prevnext-buttons">
	  <button id='prev-page' style="margin-right: 10px;" disabled
		  class='btn btn-primary btn-sm'>Prev</button>
	  <button id='next-page'
		  class='btn btn-primary btn-sm'>Next</button>
	</center>
      </div>
    </div>
  </div>
</div>
