/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -2.5em;
  /* Pad bottom by footer height */
  padding: 0 0 2.5em;
}
/*
.apt-left {
  float: left;
}

.apt-right {
  float: right;
}
*/
.navbar-brand > img {
  position: relative;
  top: -10px;
  max-height: 70px;
  padding: 0;
  margin: 0;
}
/*
.navbar-inner {
 height: 75px;
  width: 95%;
  margin: 0 auto;
}
*/

.admin-toggle-container {
  text-align: center;
}

.navbar .brand {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  text-align: center;
}

.navbar .brand-inner {
  display: inline-block;
}

.navbar-nav {
  margin: 0;
}

.navbar-nav > li > a,
.navbar-nav > li > p {
  color: #000000;
}

.navbar-header > .navbar-toggle {
    border-color: #000;
}

.navbar-header > button {
    margin-top: 12px;
}

.navbar-header > .navbar-toggle > .icon-bar {
    background-color: #000;
}

.navbar-nav-shortcuts {
    background-color: #FAFAFA;
}

.nav > li > a.btn-quickvm-home,
.nav > li > a.btn-quickvm-home:hover,
.nav > li > a.btn-quickvm-home:focus,
.nav > li > a.btn-quickvm-home.dropdown-toggle,
.nav > li > a.btn-quickvm-home.dropdown-toggle:hover,
.nav > li > a.btn-quickvm-home.dropdown-toggle:focus,
.nav > li > a.btn-quickvm-signup,
.nav > li > a.btn-quickvm-signup:hover,
.nav > li > a.btn-quickvm-signup:focus,
.nav > li > a.btn-quickvm-signup.dropdown-toggle,
.nav > li > a.btn-quickvm-signup.dropdown-toggle:hover,
.nav > li > a.btn-quickvm-signup.dropdown-toggle:focus,
.nav > li > a.btn-quickvm-news,
.nav > li > a.btn-quickvm-news:hover,
.nav > li > a.btn-quickvm-news:focus {
  font-weight: bold;
  color: #fafafa;
  border-color: rgba(255, 255, 255, 0.3);
  margin-right: 10px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav > li > a.btn-quickvm-home,
.nav > li > a.btn-quickvm-home:focus,
.nav > li > a.btn-quickvm-home.dropdown-toggle,
.nav > li > a.btn-quickvm-home.dropdown-toggle:focus {
  background-color: rgba(0, 0, 0, 0.05);
}

.nav > li > a.btn-quickvm-news,
.nav > li > a.btn-quickvm-news:hover,
.nav > li > a.btn-quickvm-news:focus {
  background-color: red;
}

.nav > li > a.btn-quickvm-home:hover,
.nav > li > a.btn-quickvm-home:active,
.nav > li > a.btn-quickvm-home.dropdown-toggle:hover,
.nav > li > a.btn-quickvm-home.dropdown-toggle:active {
  background-color: rgba(255, 255, 255, 0.1);
}
.nav > li > a.btn-quickvm-news:hover,
.nav > li > a.btn-quickvm-news:active {
  background-color: #ff4040;
}
/*
.nav > li > a.btn-success {
  background-image: -webkit-linear-gradient(top, #289328 0%, #1b631b 100%);
  background-image:      -o-linear-gradient(top, #289328 0%, #1b631b 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#289328), to(#1b631b));
  background-image:         linear-gradient(to bottom, #289328 0%, #1b631b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff289328', endColorstr='#ff1b631b', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #195b19;
}

.nav > li > a.btn-success:hover,
.nav > li > a.btn-success:focus {
  background-color: #1b631b;
  background-position: 0 -15px;
}
.nav > li > a.btn-success:active,
.nav > li > a.btn-success.active {
  background-color: #1b631b;
  border-color: #195b19;
}
.nav > li > a.btn-success:disabled,
.nav > li > a.btn-success[disabled] {
  background-color: #1b631b;
  background-image: none;
}
*/
.nav > li > a.btn-success {
  color: #fff;
  background-color: #289328;
  border-color: #237f23;
}
.nav > li > a.btn-success:hover,
.nav > li > a.btn-success:focus,
.nav > li > a.btn-success:active,
.nav > li > a.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #1d6b1d;
  border-color: #154f15;
}
.nav > li > a.btn-success:active,
.nav > li > a.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.nav > li > a.btn-success.disabled,
.nav > li > a.btn-success[disabled],
fieldset[disabled] .nav > li > a.btn-success,
.nav > li > a.btn-success.disabled:hover,
.nav > li > a.btn-success[disabled]:hover,
fieldset[disabled] .nav > li > a.btn-success:hover,
.nav > li > a.btn-success.disabled:focus,
.nav > li > a.btn-success[disabled]:focus,
fieldset[disabled] .nav > li > a.btn-success:focus,
.nav > li > a.btn-success.disabled:active,
.nav > li > a.btn-success[disabled]:active,
fieldset[disabled] .nav > li > a.btn-success:active,
.nav > li > a.btn-success.disabled.active,
.nav > li > a.btn-success[disabled].active,
fieldset[disabled] .nav > li > a.btn-success.active {
  background-color: #289328;
  border-color: #237f23;
}


.navbar-right li .navbar-btn {
  margin-left: 10px;
}

/* Set the fixed height of the footer here */
#footer {
  clear: both;
  font-size: 1.0em;
  height: 2.5em;
  padding: 0.5em;
  color: #ddd;
  text-align: center;
}

#footer a {
  height: 1.0em;
  color: #ddd;
}

#footer a:hover {
  color: #fff;
}

#footer #elabpower {
    height: 1.0em;
}

/* So that containers have some top room */
.container {
    margin-top: 15px !important;
}


#quickvm_topomodal #profile_name {
  height: 402px;
  margin-bottom: 0;
  overflow-y: scroll;
}

#quickvm_topomodal #profile_name li {
  cursor: pointer;
  border-right: 0;
  border-left: 0;
  padding-right: 15px;
  padding-left: 15px;
}

#quickvm_topomodal #profile_name > li:first-child {
  border-top: 0;
}

#quickvm_topomodal #profile_name .selected {
  background-color: #3276B1;
  color: #FFF;
}

#showtopo_container .form-group {
  margin: 0;
  height: 402px;
}

#edit_container .form-group {
  margin: 0;
  height: 600px;
}

#showtopo_nopicker {
  height: 300px;
}

.edit_buttons {
  float: right;
  margin-top: 10px;
}

#edit_nopicker {
  height: 500px;
  width: 100%;
}

#showtopo_div {
    height: 300px;
}

#showtopo_statuspage {
    height: 300px;
}

@media (min-width: 970px) {
  #showtopo_dialog, #edit_dialog {
    width: 950px;
  }
  #showtopo_description {
    width: 640px;
  }
  #showtopo_div {
    width: 640px;
  }
  #showtopo_nopicker, #edit_nopicker {
    width: 850px;
  }
  .modal-dialog {
    width: 850px;
    margin: 30px auto;
  }
  .modal-sm {
    width: 425px;
  }
  .modal-wide {
    width: 1300px;
  }
}

@media (min-width: 910px) and (max-width: 969px) {
  #showtopo_dialog, #edit_dialog {
    width: 900px;
  }
  #showtopo_description,
  #showtopo_div {
    width: 610px;
  }
  #showtopo_nopicker, #edit_nopicker {
    width: 800px;
  }
  .modal-dialog {
    width: 800px;
    margin: 30px auto;
  }
}

@media (min-width: 850px) and (max-width: 909px) {
  #showtopo_dialog, #edit_dialog {
      width: 830px;
  }
  #showtopo_description,
  #showtopo_div {
      width: 560px;
  }
  #showtopo_nopicker, #edit_nopicker {
      width: 730px;
  }
  .modal-dialog {
    width: 730px;
    margin: 30px auto;
  }
}

@media (min-width: 790px) and (max-width: 849px) {
  #showtopo_dialog, #edit_dialog {
      width: 780px;
  }
  #showtopo_description,
  #showtopo_div {
      width: 510px;
  }
  #showtopo_nopicker, #edit_nopicker {
      width: 680px;
  }
  .modal-dialog {
    width: 680px;
    margin: 30px auto;
  }
}

@media (min-width: 768px) and (max-width: 789px) {
  #showtopo_dialog, #edit_dialog {
      width: 750px;
  }
  #showtopo_description,
  #showtopo_div {
    width: 500px;
  }
  #showtopo_nopicker, #edit_nopicker {
    width: 650px;
  }
  .modal-dialog {
    width: 700px;
    margin: 30px auto;
  }
}

@media (min-width: 740px) and (max-width: 767px) {
  #showtopo_dialog, #edit_dialog {
      width: 720px;
  }
  #showtopo_description,
  #showtopo_div {
      width: 470px;
  }
  #showtopo_nopicker, #edit_nopicker {
      width: 620px;
  }
  .modal-dialog {
    width: 620px;
    margin: 30px auto;
  }
}

@media (min-width: 690px) and (max-width: 739px) {
  #showtopo_dialog, #edit_dialog {
      width: 680px;
  }
  #showtopo_description,
  #showtopo_div {
      width: 430px;
  }
  #showtopo_nopicker, #edit_nopicker {
      width: 580px;
  }
  .modal-dialog {
    width: 580px;
    margin: 30px auto;
  }
}

@media (max-width: 689px) {
  #showtopo_container > div, #edit_container > div {
      width: 100%;
  }
  #showtopo_container .form-group, #edit_container .form-group {
    height: 180px;
    border-bottom: 1px solid #DDD;
  }
  #quickvm_topomodal #profile_name {
      height: 180px;
      overflow-y: scroll;
  }
  .modal-dialog {
    width: 90%;
    margin: 30px auto;
  }
}

.modal-dialog .modal-content {
  overflow: hidden;
}

#showtopo_title h3 {
  margin-left: 15px;
  margin-top: 15px;
}

#quickvm_topomodal #showtopo_container {
  overflow: hidden;
  margin-bottom: 10px;
}

#quickvm_topomodal .modal-header h3 {
  margin-top: 0;
  margin-bottom: 0;
}

#showtopo_buttons {
  margin-bottom: 10px;
}
/*
#showtopo_div {
  border: 1px solid #000;
}
*/
.nospaceafter {
  margin-bottom: 5px;
}

.text-warning {
  color: orange;
}
.text-danger {
  color: red;
}
.border-none {
  border: none !important;
}

/*
.panel-body {
  background-color: #f5f5f5;
}
*/

/* Helper */
.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.align-center-inline {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
/* These two so the nav tab X looks right. */
.nav-tabs > li .close {
  display: inline;
  margin: -5px 0 0 5px;
  font-size: 15px;
}
/* Smaller nav tabs. */
.nav > li > a {
  padding: 5px 5px;
}

/* Styles for svg diagrams */
.topomap {
    display: block;
    margin: 0 auto;
}
.linktext {
    fill: blue;
    font: Helvetica;
    font-size: 12;
    font-weight: bold;
}
.nodetext {
    fill: black;
    font: Helvetica;
    font-size: 12;
    font-weight: bold;
}
.linkline {
    fill: black;
    fill-opacity: 1.0;
    stroke: black;
    stroke-opacity: 1.0;
    stroke-width: 1;
    stroke-linecap: square;
}
.nodebox {
    fill: palegreen;
    fill-opacity: 1.0;
    stroke: black;
    stroke-opacity: 1.0;
    stroke-width: 2;
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.sidebyside-form {
    padding-left:  5px;
    padding-right: 5px;
}

blockquote #selected_profile_description {
    font-size: 14px;
}

.popover
{
    min-width: 400px !important;
}

/* Update for better cross browser compat */
.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

/* Update Successful flasher on the manage profile page. */
.apt-success {
    position: absolute;
    z-index: 1000;
    margin-left: auto;
    margin-right: auto;
    width: 300;
    left: 0;
    right: 0;
}

.jacks #canvasContainer, .jacks #topoButtons {
    background-color: #fff;
}

.form-control[readonly] {
    cursor: default;
}

/* The default margins leave no space at all! */
.popover-content {
    margin: 0px 5px 5px 5px;
}

.well-xs {
  padding: 3px;
  border-radius: 2px;
  margin-bottom: 5px;
}

.btn-tiny {
  padding: 1px 4px;
  font-size: 10px;
  line-height: 1.24;
  border-radius: 2px;
}

.form-horizontal .form-group .row .col-sm-2 input {
    height: 33px;
    margin: 1px 0 0 5px;
}

.resgraph {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.badge-primary {
    color: #fff;
    background-color: #007bff;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    bottom: 0%;
    top : auto !important;    
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropup-menu { bottom:0% !important; top:auto !important; } 

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

a.disabled, a[disabled] {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
    pointer-events: none;
}

.aligned-title-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
.aligned-title-buttons > .left-edge {
    flex: 1;
    text-align: left;
}
.aligned-title-buttons > .middle {
    flex: 1;
    text-align: center;
}
.aligned-title-buttons > .right-edge {
    flex: 1;
    text-align: right;
}

